@import "bootstrap-sprockets";
@import "bootstrap";

.btn-primary {
    background-color: #53c6aa;
}

.navbar {
    background-color: #53c6aa;
    color: #000;
}

.change.tweet {
    color: #53c6aa;
}